<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1 class="text-center mt-5">Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, class: 'bmd-label-floating' %>
      <%= f.email_field :email, class: 'form-control' %>
      <div>　</div>

      <div class="text-center">
      <%= f.submit "Log in", class: "btn btn-outline-primary" %>
      </div>

    <% end %>

    <h5 class="text-center mt-5">New user?   <span style="font-size:1.3em;" class="btn btn-outline-primary"><%= link_to "Sign up!", signup_path %></span></h5>
  </div>
</div>
