<%= javascript_pack_tag 'book/new.js' %>


<div class="row">
	<div class="col">
		<h1 class="text-center mt-5">書籍編集</h1>
    <div class="text-center mt-4 mb-4">
		<%= cl_image_tag @book.image_url, alt: "", height: "130"%>
    <img src="<%= @book.image_url %>" alt=""　height="130">
    </div>
		<%= form_with model: @book, url: update_detail_book_path(@book), local: true do |f| %>
　　　　<div class="form-group text-center">
       <div class="col-12">
			　<%= f.label :picture, class: 'bmd-label-floating' %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
			</div>
			</div>
			<div class="form-row text-center">
      <div class="col-12">
      <%= f.submit "upload", class: "btn btn-outline-primary" %>
      </div>
　　　 </div>
　  <% end %>

		<%= form_with model: @book ,local: true do |f| %>			
			<div class="form-group">
				<%= f.label :place_id , class: 'bmd-label-floating' %>
				<%= f.collection_select :place_id, Place.all, :id, :name, {prompt: true} ,{:class => "form-control"} %>
			</div>
			
			<div class="form-group">
				<%= f.label :title, class: 'bmd-label-floating' %><span class="red">*</span>
				<%= f.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :author, class: 'bmd-label-floating' %>
				<%= f.text_field :author, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :publisher, class: 'bmd-label-floating' %>
				<%= f.text_field :publisher, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :publish_date, class: 'bmd-label-floating' %>
				<%= f.text_field :publish_date, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :description, class: 'bmd-label-floating' %>
				<%= f.text_area :description, class: 'form-control' %>
			</div>
			<div class="form-group">
				<div id="book_thumbnail"></div>
				<%= f.text_area :image_url, class: 'form-control' %>
			</div>
      <div class="form-group">
				<%= f.label :textship, class: 'bmd-label-floating' %>
				<%= f.text_area :textship, class: 'form-control' %>
			</div>

			<div class="form-row text-center">
      <div class="col-12">
      <%= f.submit "Save Changes", class: "btn btn-outline-primary" %>
      </div>
　　　 </div>
		<% end %>

		<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
	</div>
</div>

