<div class="row">
	<div class="col">
		<%= form_with model: @book, local: true do |f| %>
			<div class="form-group">
				<%= f.label :title, class: 'bmd-label-floating' %>
				<%= f.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :title, class: 'bmd-label-floating' %>
				<%= f.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :title, class: 'bmd-label-floating' %>
				<%= f.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :title, class: 'bmd-label-floating' %>
				<%= f.text_field :title, class: 'form-control' %>
			</div>
		<% end %>
	</div>
</div>
