<%= javascript_pack_tag 'book/new.js' %>


<div class="row">
	<div class="col">
		<h1 class="text-center mt-5">書籍登録</h1>
		<%= render partial: 'isbn_reader' %>
		<%= form_with model: @book ,local: true do |f| %>
			<div class="search_book">
				<div class="search_title">
					<label>書籍名</label>
					<input type="text" id="search_title">
					<input class="btn btn-danger" type="button" id="title_search_button" value="検索">
				</div>
				<div class="search_isbn">
					<label>Isbn</label>
					<%= f.number_field :isbn %>
					<input class="btn btn-danger" type="button" id="isbn_search_button" value="検索">
				</div>
			</div>

			<div class="form-group">
				<%= f.label :place_id , {class: 'bmd-label-floating'} %><span class="red">*</span>
				<%= f.collection_select :place_id, Place.all, :id, :name, {prompt: true} ,{:class => "form-control"} %>
			</div>
			<div class="form-group">
				<%= f.label :title, class: 'bmd-label-floating' %><span class="red">*</span>
				<%= f.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :author, class: 'bmd-label-floating' %>
				<%= f.text_field :author, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :publisher, class: 'bmd-label-floating' %>
				<%= f.text_field :publisher, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :publish_date, class: 'bmd-label-floating' %>
				<%= f.text_field :publish_date, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :description, class: 'bmd-label-floating' %>
				<%= f.text_area :description, class: 'form-control' %>
			</div>
			
			<div class="form-group">
				<div id="book_thumbnail"></div>
				<%= f.text_area :image_url, class: 'form-control' %>
			</div>
      <div class="form-group">
				<%= f.label :textship, class: 'bmd-label-floating' %>
				<%= f.text_area :textship, class: 'form-control' %>
			</div>

			<div class="form-row text-center">
      <div class="col-12">
      <%= f.submit "Register New Book", class: "btn btn-outline-primary" %>
      </div>
　　　 </div>
		<% end %>
	</div>
</div>

